/* div {
    background-color: red;
    color: white;
} */
p, div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.odd {
    background-color:rgb(249, 148, 148)
}

.cooler {
    font-size: 175%;
}

#two {
    font-size: 200%;
    color: blue
}

#four {
    font-size: 120%;
    font-weight: bolder;
    background-color:rgb(151, 249, 148)
}

.blackbg .yellobg {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

.blackbg {
    background-color: rgb(0, 0, 0);
    color: rgb(248, 246, 246)
}

.yellowbg {
    background-color: #ffff00;
}
